body {
    font-family: Lato;
    color: #333;
}

.section {
  margin-bottom: 50px;
}

.header {
  text-align: center;
}

.header .h1 {
  text-transform: uppercase;
  color: #022B44;
  margin-bottom: 0;
}

.header .h3 {
  margin-top: 0;
  color: #D6E1E7;
}

#logo {
    color: #178EE5;
    height: 180px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-align: center;
    display: block;
    font-size: 125px;
    font-family: Georgia;
    margin-top: -48px;
}

.sub-header {
  max-width: 600px;
  margin:0 auto;
}

.sub-header p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom:50px;
  color: #022B44;
}


.btn {
  padding: 20px 60px;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid #FA5C1F;
  margin-right: 20px;
  display: inline-block;
}

.btn-primary {
  background-color: #FA5C1F;
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  color: #FA5C1F;
}

#content {
    width: 600px;
    margin: 0 auto;
}

p {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
}

label {

}

textarea, .html {
    border: 1px solid #bbb;
    padding: 5px;
    width: 100%;
    height: 350px;
    font-size: 18px;
    font-family: Inconsolata, monaco, courier;
    margin-bottom: 20px;
}

.json {
  margin-bottom: 0;
}

.run {
    margin-bottom: 20px;
    font-size: 130%;
}


.footer {
  margin-bottom: 10px;
}
