<!-- ---
# Yeah, this should be .mustache
# But this way we can gh-pages.
--- -->
<!DOCTYPE html>
<!--
                                      _  _
                            _____*~~~  **  ~~~*_____
                         __* ___     |\__/|     ___ *__
                       _*  / 888~~\__(8OO8)__/~~888 \  *_
                     _*   /88888888888888888888888888\   *_
                     *   |8888888888888888888888888888|   *
                    /~*  \8888/~\88/~\8888/~\88/~\8888/  *~
                   /  ~*  \88/   \/   (88)   \/   \88/  *~
                  /    ~*  \/          \/          \/  *~
                 /       ~~*_                      _*~~/
                /            ~~~~~*___ ** ___*~~~~~  /
               /                      ~  ~         /
              /                                  /
             /                                 /
            /                                /
           /                    t__n__r__  /
          /                    | ####### |
         /            ___      | ####### |             ____i__           /
        /  _____p_____l_l____  | ####### |            | ooooo |         qp
i__p__ /  |  ##############  | | ####### |__l___xp____| ooooo |      |~~~~|
 oooo |_I_|  ##############  | | ####### |oo%Xoox%ooxo| ooooo |p__h__|##%#|
 oooo |ooo|  ##############  | | ####### |o%xo%%xoooo%| ooooo |      |#xx%|
 oooo |ooo|  ##############  | | ####### |o%ooxx%ooo%%| ooooo |######|x##%|
 oooo |ooo|  ##############  | | ####### |oo%%x%oo%xoo| ooooo |######|##%x|
 oooo |ooo|  ##############  | | ####### |%x%%oo%/oo%o| ooooo |######|/#%x|
 oooo |ooo|  ##############  | | ####### |%%x/oo/xx%xo| ooooo |######|#%x/|
 oooo |ooo|  ##############  | | ####### |xxooo%%/xo%o| ooooo |######|#^x#|
 oooo |ooo|  ##############  | | ####### |oox%%o/x%%ox| ooooo |~~~$~~|x##/|
 oooo |ooo|  ##############  | | ####### |x%oo%x/o%//x| ooooo |_KKKK_|#x/%|
 ooo~\|ooo|~\##############  | ~\####### |oox%xo%%oox%~\ooooo |_|~|~\|xx%/|
 ooo ||oHo| |####AAAA######  |h||##XX### |x%x%WWx%%/ox||ooDoo |_| |Y||xGGx|
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  | ~~~~~~~
-->
<html>
  <head>
    <title>{{ site.name }}</title>
    <link href="burt.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="extras/highlight.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
 
      <nav>
        <ul class="brand">
          <li><a href="#home">MUSTACHE</a></li>
        </ul>
        <ul>
        <li>
        <a class="docs" href="">Documentation <i class="fa fa-caret-down"></i></a>
          <ul>
            <li><a style="border-bottom:1px solid white"href="mustache.5.html">Mutache 1</a></li></br>
            <li><a href="mustache.1.html">Mutache 5</a></li>
          </ul>
        </li>
          <li><a class="btn"href="https://github.com/typicode/jsonplaceholder"><i class="fa fa-code-fork"></i> Fork on Github</a></li>
        </ul>
      </nav>
    </header>
    <section id="home" class="home">
      <div class="home-Container center">
        <span class="logo">}</span> 
        <h1 class="title center">MUSTACHE</h1> 
        <p class="subtitle center">Logic-less templates.</p>  
      </div>    
    </section>
    <section class="about">
      <div class="home-Container center">
        <h2>Why mustache?</h2>
        <p>Mustache can be used for HTML, config files, source code - anything. It works by expanding tags in a template using values provided in a hash or object.</p>
        <p>We call it "logic-less" because there are no if statements, else clauses, or for loops. Instead there are only tags. Some tags are replaced with a value, some nothing, and others a series of values.</p>
      </div>
    </section>

    <div id="content">
      <p>
        Available in
        {% for language in site.data.languages %}
          {% if forloop.last %}and for{% endif %}
          <a href="{{ language.url }}">{{ language.name }}</a>{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </p>

      <p>
        Works great with
        {% for editor in site.data.editors %}
          {% if forloop.last %}and{% endif %}
          <a href="{{ editor.url }}">{{ editor.name }}</a>{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </p>
      <p>
        <a id="demo" href="#demo">Demo</a>
      </p>

      <div id="demo-box" style="display:none;">
        <label>Mustache</label>
        <textarea class="template">{% include demo.mustache %}</textarea>

        <label>JSON <small>(try setting empty to true)</small></label>
        <textarea class="json">{% include demo.json %}</textarea>

        <p><input type="button" class="run" value="Render Template"/></p>

        <label>HTML</label>
        <pre class="html sh_html"></pre>
      </div>

      <p>IRC: <a href="irc://irc.freenode.net:6667/#{">#{</a> on Freenode</p>
      <p>Mailing list: <a href="mailto:mustache@librelist.com">mustache@librelist.com</a></p>

      <p>GitHub pages: <a href="https://github.com/mustache/mustache.github.com">https://github.com/mustache/mustache.github.com</a></p>
    </div>
    <footer>
      <p>
      Coded and built with <i class="fa fa-heart"></i>.
      Source code available on <a href="https://github.com/typicode/jsonplaceholder">GitHub</a>.
     </p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="extras/mustache.js"></script>
    <script src="extras/highlight.js"></script>
    <script src="tom.js"></script>
  </body>
</html>
