---
# Yeah, this should be .mustache
# But this way we can gh-pages.
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }}</title>
    <link href="extras/960.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="extras/highlight.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="burt.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>


    <div class="header section container_12">
        <div class="grid_12">
          <div class="logo">
            <img src="images/logo.png" alt="mustache logo" />
          </div>
          <h1 class="h1">Mustache</h1>
          <h3 class="h3">Logic-less templates</h3>
        </div>
    </div>


    <div class="sub-header section container_12">
      <div class="prefix_2 grid_8 suffix_2">
        <p>Cleanly separate logic from presentation with Mustache.
          Framework-agnostic, it brings cleaner client-side templates from all.
        </p>
        <a href="http://github.com/mustache" class="btn btn-primary">View on GitHub</a>
        <a href="#" class="btn btn-secondary">Read documentation</a>
      </div>
    </div>


    <div class="try-it-out section container_12">
      <div class="grid_12">
        <h2 class="h2">Try it out</h2>
      </div>
      <div class="clear"></div>
      <table id="demo">
        <tr class="table-header">
          <th>
            <span>Mustache HTML template</span>
          </th>
          <th>
            <span>JSON input</span>
          </th>
          <th>
            <span>Compiled HTML</span>
          </th>
        </tr>
        <tr class="table-content">
          <td>
            <textarea class="template">{% include demo.mustache %}</textarea>
          </td>
          <td>
            <textarea class="json">{% include demo.json %}</textarea>
          </td>
          <td>
            <pre class="html sh_html"></pre>
          </td>
        </tr>
      </table>
    </div>


    <div class="language section container_12">
      <div class="grid_12">
        <h2 class="h2">Support for over 30 languages</h3>
        <ul>
          {% for language in site.data.languages %}
            <li><a href="{{ language.url }}">{{ language.name }}</a></li>{% unless forloop.last %}{% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>


    <div class="get-started section">
      <div class="container_12 inner-container">
        <div class="grid_7">
          <h2 class="h2">Get started with Mustache in your project</h3>
        </div>
        <div class="grid_5">
          <a class="btn btn-primary" href="#">Read the documentation</a>
        </div>
      </div>
    </div>


    <div class="footer section">
      <p class="pull-left">This website is hosted by <a href="#">GitHub Pages</a></p>
      <img class="logo" src="images/logo-rev.png" alt="mustache logo" />
      <p class="pull-right">Mustache is an opensource project. <a href="#">Help improve it over at Github</a></p>
    </div>



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="extras/mustache.js"></script>
    <script src="extras/highlight.js"></script>
    <script src="tom.js"></script>
  </body>
</html>
