{% raw %}
<h1>{{header}}</h1>
{{#bug}}
{{/bug}}

{{^empty}}
  <ul>
    {{#items}}
      {{#first}}
        <li><strong>{{name}}</strong></li>
      {{/first}}
      {{#link}}
        <li><a href="{{url}}">{{name}}</a></li>
      {{/link}}
    {{/items}}
  </ul>
{{/empty}}

{{#empty}}
  <p>The list is empty.</p>
{{/empty}}
{% endraw %}
